.spacing{
    margin-top: 20px;
    margin-bottom: 40px;
}

.links{
    color:#5ADBFF;
}
body{
    background-color: #fcb280;
    /*COLOR ANTERIOR : background-color: #FA8334;*/
    /*color: #FFF6ED;*/
}

.backcolor{
    background-color:#1D2D44;
    margin-top: 10%;
    left:0px;
    bottom:0px;
    width:100%;
    color:#5ADBFF;
}

.backgroundNav{
    background-color: rgb(243, 141, 73);
    color: #1D2D44 !important;
}

.footerSpacing{
    margin-top: 16%;
}
.pointer{
    cursor: pointer;
}

